.buttondiv {
  text-align: center;
  margin: 20px;
}

.phone {
  margin-top: -40px;
}

.strengthimage {
  width: 200px;
  top: 200px;
  right: 200px;
  position: absolute;
}

.offimage {
  width: 200px;
  top: 170px;
  right: 35px;
  position: absolute;
  /* this needed for animation keyframe below  */
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

/* offimage fades in after phone fade up is complete  */

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

.phonecontainer {
  position: relative;
}

.buttondiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signalstrengthdiv {
  justify-content: center;
  display: flex;
}

.loading {
  text-align: center;
}

.button {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* buttons fade in animation below  */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* phone slide up animation below */

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
