.buttondiv {
  text-align: center;
  margin: 20px;
}

.strengthimage {
  width: 200px;
  top: 200px;
  right: 200px;
  position: absolute;
}

.offimage {
  width: 200px;
  top: 200px;
  right: 35px;
  position: absolute;
}

.phonecontainer {
  position: relative;
}

.buttondiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signalstrengthdiv {
  justify-content: center;
  display: flex;
}

.loading {
  text-align: center;
}

.button {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
